#### Process of converting categorical data into numerical data that can be easily processed by Machine Learning

### Types of Categorical Variables: 

    1. Nominal 

    2. Ordinal (Ordered) 

### Methods of Encoding 
<table>
    <tr>
    <td>1. One Hot Encoding</td> 
    <td>2. Label Encoding</td> 
    <td>3. Probability Ratio Encoding</td> </tr>
    <tr>
    <td>4. Ordinal Encoding</td> 
    <td>5. Helmert Encoding</td>
    <td>6. Hashing Encoding </td></tr>
    <tr>
    <td>7. Binary Encoding</td> 
    <td>8. Frequency Encoding</td>
    <td>9. Backward Difference Encoding</td></tr>
    <tr>
    <td>10. Mean Encoding</td> 
    <td>11. Weight of Evidence Encoding</td>
    <td>12. Leave One Out Encoding</td> </tr>
    <tr>
    <td>13. James-Stein Encoding</td> 
    <td>14. M-estimator Encoding (updated)</td> 
    <td>15. Thermometer Encoder (updated)</td></tr>
</table>

In [5]:
# https://www.kaggle.com/code/aditya1702/mercedes-benz-data-exploration/input
import pandas as pd
import numpy as np
data = pd.read_csv('Dataset/benz.csv',usecols=['X1','X2','X3','X4','X5','X6'])
data.head(3)

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j

In [6]:
# checking number of unique categories in each column
for col in data.columns:
    print(col,":", len(data[col].unique()),' labels')

X1 : 27  labels
X2 : 45  labels
X3 : 7  labels
X4 : 4  labels
X5 : 32  labels
X6 : 12  labels

## 1. One Hot Encoding

In [8]:
# using pandas
df = pd.get_dummies(data,drop_first=True)
df.shape

(4209, 121)

In [14]:
df.head(2)

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [24]:
# using sklearn
from sklearn.preprocessing import OneHotEncoder
ohc = OneHotEncoder()

## Note:
in case of larger number of categories like 500 the number of feature will increase and will result in Curese of Dimensionality and may impact accuracy level

 ### From KDD cup orange challenge problem technique
    took 10 most frequent categoreis from each features and left the remaning feature and performed one hot encoding on selected 10 categories